@{
    Layout = "_Layout";
}
@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)
    @Html.HiddenFor(model => model.Completed)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")


    @Html.LabelFor(model => model.DueDate)
    @Html.EditorFor(model => model.DueDate, new { @type = "date"})

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>