@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model IEnumerable<ToDoList.Models.Item>

<h1>Items for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Item item in Model)
    {
      <li>
        @if (item.Completed)
        {
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        }
        else 
        {
          <i class="fa fa-square-o" aria-hidden="true"></i>
        }
        @Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })
        @item.DueDate
      </li>
    }
  </ul>
} 
else
{
  <h3>No items have been added yet!</h3>
}

<p>@Html.ActionLink("Add new item", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>